@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-800 bg-brand-light transition-colors duration-300;
  }
  
  .dark body {
    @apply text-slate-200 bg-brand-navy;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 dark:bg-brand-charcoal/70 dark:border-white/10;
  }
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-slate-100 shadow-xl dark:bg-brand-charcoal/80 dark:border-white/5 dark:shadow-2xl;
  }
}

html {
  scroll-behavior: smooth;
}
